
<center>
<div class="card-columns'">

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @user.user_name %> </h5>
    <h5 class="card-text">Email: <%= @user.email %> </h5>
  </div>
</div>
</div>

</center>

