<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>
<center>
<div class="card-columns'">

<% @gossip.each_with_index do |gossip, index| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= gossip.user.user_name%> </h5>
    <h5 class="card-text">" <%= gossip.content %> "</h5>
    <a class="card-link" <%= link_to "SHOW ME THE GOSSIP", gossip_path(gossip.id)%></a>
  </div>
</div>
</div>
<%  end %>

</center>



</body>
</html>