<center><h2> Enter here your gossip and your username. Please note that your gossip cannot exceed 250 characters. </h2>

</br> 

<%= form_with model: @gossip, class: "nifty_form" do |f| %>
<%= f.text_area :content, size: "60x12" %> </br>
  <%= f.submit "Post your gossip" %>
<% end %>

</br>

<a href ='/gossips/'> Click here to return to the index ! </a> </center>