<center><h2> Enter here your gossip and your username. Please note that your gossip cannot exceed 250 characters. </h2>

</br> 

<form action= <%= gossips_path %> method="POST">
  <p> Gossip : </p> <input type="text" name="content">
  <p> Your Username : </p> <input type="text" name="user_name"> 
  </br> </br>
  <input type="submit" value="Validate">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form> 

</br>

<a href ='/gossips/'> Click here to return to the index ! </a> </center>