
<center>

<div class="card-columns'">

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @gossip.user.user_name%> </h5>
    <h5 class="card-text">" <%= @gossip.content %> " </h5>
  </div>
</div>
</div>

  <a class="btn btn-primary mx-3" href ='/gossips/'> Return to the index </a>
<a class="btn btn-dark mx-3" <%= link_to "Edit Gossip", edit_gossip_path(@gossip.id)%></a>
<a class="btn btn-danger mx-3" data-confirm="Are you sure?" data-method="DELETE" <%= link_to "Delete Gossip", gossip_path(@gossip.id)%></a>
</center>