  <p>You like this one ? Here it is : </p>
  <p>
       Author : <%= @loutre.user.user_name%> 
       </br></br>
       Story : <%= @loutre.content %>
  </p>

  <a href ='/gossips/'> Click here to return to the index ! </a>